[Unit]
Description=Apache Spark master node
After=network.target

[Service]
Type=forking
ExecStart=/opt/spark/spark-3.0.1-bin-hadoop3.2/sbin/start-master.sh -h $(ip -4 addr show eth0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}')
ExecStop=/opt/spark/spark-3.0.1-bin-hadoop3.2/sbin/stop-master.sh
Restart=on-failure
StartLimitInterval=30

[Install]
WantedBy=default.target
